# Day 1 - Importando dados

In [18]:
import pandas as pd

## Carregando dados

In [19]:
url_base = 'https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-{}{}.csv?raw=true'
anos = range(2010, 2020)
semestres = [1, 2]

data_frames = {}

for ano in anos:
    for semestre in semestres:
        formatted_ano_semestre = f'{ano}{semestre}'
        url = url_base.format(ano, semestre)
        try:
            data_frames[formatted_ano_semestre] = pd.read_csv(url)
            print(f'Successfully loaded data for {formatted_ano_semestre}')
        except Exception as e:
            print(f'Failed to load data for {formatted_ano_semestre}: {e}')

Successfully loaded data for 20101
Successfully loaded data for 20102
Successfully loaded data for 20111
Successfully loaded data for 20112
Successfully loaded data for 20121
Successfully loaded data for 20122
Successfully loaded data for 20131
Successfully loaded data for 20132
Successfully loaded data for 20141
Successfully loaded data for 20142
Successfully loaded data for 20151
Successfully loaded data for 20152
Successfully loaded data for 20161
Successfully loaded data for 20162
Successfully loaded data for 20171
Successfully loaded data for 20172
Successfully loaded data for 20181
Successfully loaded data for 20182
Successfully loaded data for 20191
Successfully loaded data for 20192

## Concatenando os dados

In [20]:
emprestimos = pd.concat(data_frames, ignore_index=True)
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2231452,2962504,2008047075,2020/01/13 23:27:18.346000000,2019/12/30 17:48:52.962000000,2020/01/15 18:52:27.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231453,2962505,2014078494,2020/01/13 23:27:18.327000000,2019/12/30 17:48:52.998000000,2020/01/15 15:28:51.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231454,2962506,2018014453,2020/01/13 23:27:18.302000000,2019/12/30 17:48:53.039000000,2020/01/15 15:29:08.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231455,2962507,2010073307,NaN,2019/12/30 18:05:30.265000000,2020/01/29 16:05:27.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO
2231456,2962508,2010094374,NaN,2019/12/30 18:05:30.313000000,2020/01/29 16:05:36.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO

## Verificando e excluindo duplicatas

In [21]:
emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2351392        2015008037     2016/01/17 16:03:38.705000000  2016/01/02 10:12:01.529000000  2016/01/27 16:37:59.000000000  2.014036e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1438323        2010029564     2013/03/17 13:51:20.577000000  2013/03/04 10:19:18.384000000  2013/04/02 10:06:26.000000000  2.008026e+09        ALUNO DE GRADUAÇÃO        1
1438324        2010029567     2013/03/17 13:51:20.543000000  2013/03/04 10:19:18.417000000  2013/04/02 10:06:22.000000000  2.008026e+09        ALUNO DE GRADUAÇÃO        1
1438326        2010091986     2013/03/15 10:22:28.569000000  2013/03/04 10:20:28.652000000  2013/04/02 13:46:07.000000000  2.013038e+09        ALUNO DE GRADUAÇÃO        1
1438327        2010081203     2013/03/19 23:38:11.144000000  2013/03/04 10:21:06.291000000  2013/04/05 09:41:20.000000000  2.013041e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 960420, dtype: int64

In [22]:
emprestimos.drop_duplicates()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2231452,2962504,2008047075,2020/01/13 23:27:18.346000000,2019/12/30 17:48:52.962000000,2020/01/15 18:52:27.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231453,2962505,2014078494,2020/01/13 23:27:18.327000000,2019/12/30 17:48:52.998000000,2020/01/15 15:28:51.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231454,2962506,2018014453,2020/01/13 23:27:18.302000000,2019/12/30 17:48:53.039000000,2020/01/15 15:29:08.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231455,2962507,2010073307,NaN,2019/12/30 18:05:30.265000000,2020/01/29 16:05:27.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO
2231456,2962508,2010094374,NaN,2019/12/30 18:05:30.313000000,2020/01/29 16:05:36.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO

In [23]:
emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2351392        2015008037     2016/01/17 16:03:38.705000000  2016/01/02 10:12:01.529000000  2016/01/27 16:37:59.000000000  2.014036e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1438323        2010029564     2013/03/17 13:51:20.577000000  2013/03/04 10:19:18.384000000  2013/04/02 10:06:26.000000000  2.008026e+09        ALUNO DE GRADUAÇÃO        1
1438324        2010029567     2013/03/17 13:51:20.543000000  2013/03/04 10:19:18.417000000  2013/04/02 10:06:22.000000000  2.008026e+09        ALUNO DE GRADUAÇÃO        1
1438326        2010091986     2013/03/15 10:22:28.569000000  2013/03/04 10:20:28.652000000  2013/04/02 13:46:07.000000000  2.013038e+09        ALUNO DE GRADUAÇÃO        1
1438327        2010081203     2013/03/19 23:38:11.144000000  2013/03/04 10:21:06.291000000  2013/04/05 09:41:20.000000000  2.013041e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 960420, dtype: int64

## Verificando valores nulos

In [28]:
valores_nulos = emprestimos.isnull().sum()
valores_nulos

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1270132
data_emprestimo               0
data_devolucao              411
matricula_ou_siape         3148
tipo_vinculo_usuario          0
dtype: int64

In [44]:
has_null_values = emprestimos.isnull().values.any()
if has_null_values:
    emprestimos.dropna()
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2231452,2962504,2008047075,2020/01/13 23:27:18.346000000,2019/12/30 17:48:52.962000000,2020/01/15 18:52:27.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231453,2962505,2014078494,2020/01/13 23:27:18.327000000,2019/12/30 17:48:52.998000000,2020/01/15 15:28:51.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231454,2962506,2018014453,2020/01/13 23:27:18.302000000,2019/12/30 17:48:53.039000000,2020/01/15 15:29:08.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO
2231455,2962507,2010073307,NaN,2019/12/30 18:05:30.265000000,2020/01/29 16:05:27.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO
2231456,2962508,2010094374,NaN,2019/12/30 18:05:30.313000000,2020/01/29 16:05:36.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO

## Importando restante dos dados

In [45]:
exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')
exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [51]:
exemplares.value_counts()

id_exemplar  codigo_barras  colecao            biblioteca                                             status_material  localizacao  registro_sistema
3            L000001        Acervo Circulante  Biblioteca Central Zila Mamede                         ESPECIAL         638          1                   1
1070480      2013071582     Acervo Circulante  Biblioteca Setorial do Centro Ciências da Saúde - CCS  REGULAR          340          200283              1
1070506      2013077711     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          354          200288              1
1070505      2013077710     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          327          200288              1
1070504      2013077807     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          348          200286              1
                                                                                                                                                       ..
232120       2007034699     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          652          96457               1
232119       2007034703     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          628          96456               1
232118       2007036783     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          618          96301               1
232117       2007040275     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          680          96301               1
1353476      2019012276     Acervo Circulante  Biblioteca Central Zila Mamede                         ESPECIAL         962          268236              1
Name: count, Length: 546237, dtype: int64

In [56]:
exemplares.drop_duplicates()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [57]:
has_null_values = exemplares.isnull().values.any()
if has_null_values:
    exemplares.dropna()
exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

## Merge dos DataSets

In [58]:
dados_emprestimos = emprestimos.merge(exemplares)
dados_emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046943,2962504,2008047075,2020/01/13 23:27:18.346000000,2019/12/30 17:48:52.962000000,2020/01/15 18:52:27.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO,255650,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,693,109656
2046944,2962505,2014078494,2020/01/13 23:27:18.327000000,2019/12/30 17:48:52.998000000,2020/01/15 15:28:51.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO,1171262,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,91,217317
2046945,2962506,2018014453,2020/01/13 23:27:18.302000000,2019/12/30 17:48:53.039000000,2020/01/15 15:29:08.000000000,2.019006e+10,ALUNO DE GRADUAÇÃO,1336108,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,141,221988
2046946,2962507,2010073307,NaN,2019/12/30 18:05:30.265000000,2020/01/29 16:05:27.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,903708,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,671,163329
2046947,2962508,2010094374,NaN,2019/12/30 18:05:30.313000000,2020/01/29 16:05:36.000000000,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,903897,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,690,163053